<div class="container">
  <div class="card mt-5 col-md-6 offset-md-3">
    <div class="card-header">Books Management</div>
    <div class="card-body">
      <table class="table table-bordered">
        <tr *ngFor="let book of books">
          <td>{{ book.bookName}}</td>
          <td>{{ book.authorName}}</td>
          <td>{{ book.publication}}</td>
        </tr>
      </table>
    </div>
    <!-- <div class="card-footer">
      <button class="btn btn-primary">Add</button>
    </div> -->
  </div>
</div>
