<div class="container">
  <div class="card mt-5">
    <div class="card-header d-flex justify-content-between align-items-center">
      Books Management
      <button type="button" class="btn btn-primary btn-sm" routerLink="book/create">Create</button>
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered">
        <tr *ngFor="let book of books" appHighlight [highlightKeyword]="searchKeyword" >
          <td >{{ book.bookName}}</td>
          <td>{{ book.authorName}}</td>
          <td>{{ book.publication}}</td>
        </tr>
      </table>
    </div>
    <div class="card-footer">

        <input type="text" [(ngModel)]="searchKeyword" />

    </div>
  </div>
</div>
